<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <div class="submenu">
            <li class="dropdown">
                <span class="dropbtn">{{ partial "lang-toggle-icon.html" . }}</span>
                <div class="dropdown-content">
                    {{ if .Site.IsMultiLingual }}
                        {{ range $.AllTranslations  }}
                            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </li>
        </div>
        {{- end }}
    </ul>
</nav>